/* General Styles */
@font-face {
    font-family: 'Mario';
    /* Use a custom name for your font */
    src: url('assets/fonts/mario_kart_f2.ttf') format('truetype'),
        /* Modern browsers */
        url('fonts/YourFontFile.woff') format('woff'),
        /* Older browsers */
        url('fonts/YourFontFile.ttf') format('truetype');
    /* Oldest browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    background-image: url('assets/images/dark-mode.png');
    background-size: cover;
}

.content {
    flex-grow: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    h2,
    h2 {
        font-size: 2em;
    }
}


a:hover {
    text-decoration: none;
}

/*Nav Bar*/
.navbar {
    max-width: 95%;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background-color: black;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 500;
}

.navbar a:hover {
    color: #F2E9E4;
}

.navbar {
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background-color: #333;
    /* Darker background on scroll */
    padding: 10px 0;
    /* Smaller padding to reduce size */
}

/* Header Styles */
.header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 90px;
}

h2 {
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 40px;
}

.header {
    color: black;
    text-align: center;
    padding: 50px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Adjust this as needed */
    justify-content: center;
    /* Aligns items to the left */
    padding: 100px;
    /* Adjust padding as needed */
}

.header h1,
.header h2 {
    text-align: center;
    margin: auto;
    /* Removes default margin */
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

#about h2,
#projects h2 {
    font-size: 2.5em;
    color: #ff6600;
}

#about p,
.project p {
    font-size: 1.2em;
}

.project {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
}

/* Social Media Icons */
.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
}

.social-media a:hover {
    transform: translateY(-5px);
}

.social-media img {
    width: 30px;
    height: 30px;
}